In [8]:
import mysql.connector

In [9]:
mycursor = db.cursor()

In [11]:
# mycursor.execute("CREATE DATABASE KotakSakti_iv")

In [12]:
db = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='root',
    database='KotakSakti_iv'
)

## QUESTION 2
##### a)Show schema generation query

In [ ]:
# CREATE TABLE invoices (
# 	id INT PRIMARY KEY,
# 	number INT(9) NOT NULL,
# 	sub_total DECIMAL(10,2),
# 	tax_total DECIMAL(10,2),
# 	total DECIMAL(10,2),
# 	customer_id INT,
# 	created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
# 	updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
# 	CONSTRAINT FK_customerID FOREIGN KEY (customer_id) REFERENCES customers(id)
# );

In [20]:
mycursor.execute("CREATE TABLE customers ( id INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(50) UNIQUE NOT NULL, email VARCHAR(50), tel VARCHAR(13), created_at  DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);")

In [25]:
mycursor.execute("CREATE TABLE invoices ( id INT PRIMARY KEY AUTO_INCREMENT, number INT(9) NOT NULL, sub_total DECIMAL(10,2), tax_total DECIMAL(10,2), total DECIMAL(10,2), customer_id INT, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, CONSTRAINT FK_customerID FOREIGN KEY (customer_id) REFERENCES customers(id));")

In [27]:
mycursor.execute("CREATE TABLE invoice_lines ( id INT PRIMARY KEY AUTO_INCREMENT, description VARCHAR(50) NOT NULL, unit_price DECIMAL(10,2), quantity INT, sub_total DECIMAL(10,2), tax_total DECIMAL(10,2), total DECIMAL(10,2), tax_id INT, sku_id INT, invoice_id INT, CONSTRAINT FK_invoiceID FOREIGN KEY (invoice_id) REFERENCES invoices(id)  ); ")

In [16]:
mycursor.execute("DESCRIBE customers")

In [17]:
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(50)', 'NO', 'UNI', None, '')
('email', 'varchar(50)', 'YES', '', None, '')
('tel', 'varchar(13)', 'YES', '', None, '')
('created_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')
('updated_at', 'timestamp', 'YES', '', None, '')

In [26]:
# mycursor.execute("INSERT INTO customers (id, name, email, tel, created_at,updated_at) VALUES (%s,%s)" , (1, "Irfan Bakti", "irfan88@example.com", "+60123456789", "CURRENT_TIMESTAMP",  "CURRENT_TIMESTAMP"))


##### b) Show the SQL query for number of customers purchasing more than 5 books

In [29]:
mycursor.execute("SELECT c.id , c.name, COUNT(DISTINCT il.invoice_id) AS total_purchases FROM customers c JOIN invoices i ON c.id = i.customer_id JOIN invoice_lines il ON i.id = il.invoice_id WHERE il.quantity > 5 GROUP BY c.id, c.name ")

In [30]:
for x in mycursor:
    print(x)

(6, 'Shanon Teoh', 1)