In [4]:
import mysql.connector

In [15]:
db = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='root',
    database='testdatabase'
)

In [16]:
mycursor = db.cursor()

In [19]:
mycursor.execute("CREATE DATABASE testdatabase")

In [18]:
mycursor.execute("CREATE TABLE Person (name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")

In [20]:
mycursor.execute("DESCRIBE Person")

In [22]:
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)" , ("Tim", 19))
db.commit()

In [26]:
mycursor.execute("INSERT INTO Person (name, age) VALUES (%s,%s)" , ("Joe", 22))
db.commit()

In [27]:
mycursor.execute("SELECT * FROM Person")

In [28]:
for x in mycursor:
    print(x)

('Tim', 19, 1)
('Joe', 22, 2)